{% extends 'tutorml/base.html' %}
{% load static %}

{% block title %}
Назначение сайта
{% endblock %}

{% block content %}
<section class="section">
    <h1 class="section_title">О EVDAKO</h1>
    <div class="grid about_grid">
        <video autoplay loop muted>
            <source src="{% static 'tutorml/video/neural.webm' %}" type="video/webm">
            Ваш браузер не поддерживает встраивание видео.
        </video>
        <p>
            Данное веб-приложение разработано специально для курса "Разработка веб-приложений".
            На сайте размещены обучающие материалы по тематике искусственного интеллекта.
            На реальных примерах рассматриваются решения различных задач (классификация изображений,
            распознавание языка, игровой ИИ, кластеризация и многое другое). Статьи разбиты по следующим
            категориям: фото и видео, текст, аудио и прочее. Также, в разделе "Датасеты" размещены
            наборы данных, используемые для обучения нейронных сетей из туториалов.<br><br>
            Создатели: Омельченко К.Г., Стрельников Д.Ю., Умбрас Е.Д.<br>
            Надеемся, что Вы найдете интересующую Вас тему и получите новые знания!
        </p>
    </div>
</section>
<section class="section">
    <h1 class="section_title">СТАТИСТИКА САЙТА</h1>
    <div class="flex">
        <canvas class="canvas420_420" id="categories_canvas" width="420" height="420"></canvas>
        <canvas class="canvas680_420" id="subs_canvas" width="680" height="420"></canvas>
        <canvas class="canvas680_480" id="choices_canvas" width="680" height="480"></canvas>
        {% comment %} <canvas class="canvas680_420" id="community_canvas" width="680" height="420"></canvas>
        <canvas class="canvas480_480" id="critics_canvas" width="480" height="440"></canvas> {% endcomment %}
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'tutorml/js/Chart.min.js' %}"></script>
<script type="text/javascript">
var colortimes=function(data){
	length=data.length
	list=[]
	for(var i=1;i<=length;i++){
		list.push('#' + (Math.random().toString(16) + '0000000').slice(2, 8) )
	}
	return list
}
var categories_canvas = new Chart(document.getElementById("categories_canvas").getContext("2d"), {
    type: "pie",
    data: {
        labels: {{ categories|safe }},
        datasets: [
            {
                data: {{ views }},
                backgroundColor: colortimes({{ views }}),
                borderColor: colortimes({{ views }}),
            }
        ]
    },
    options: {
        responsive: false,
        layout: { padding: 10 },
        legend: {
            labels: {
                fontColor: '#242424',
                fontFamily: 'Segoe UI',
                fontSize: 20,
                usePointStyle: true,
                generateLabels: function (chart) {
                    return chart.data.labels.map(function (dataset, i) {
                        return {
                            text: dataset,
                            lineCap: chart.data.datasets[0].borderCapStyle,
                            lineDash: [],
                            lineDashOffset: 0,
                            lineJoin: chart.data.datasets[0].borderJoinStyle,
                            pointStyle: 'circle',
                            fillStyle: chart.data.datasets[0].backgroundColor[i],
                            strokeStyle: chart.data.datasets[0].borderColor[i],
                            lineWidth: 0,
                            lineDash: chart.data.datasets[0].borderDash,
                        }
                    })
                },

            },
        },
        title: {
            display: true,
            text: 'Количество просмотров статей',
            fontFamily: 'Segoe UI',
            fontColor: '#161717',
            fontSize: 32,
            fontStyle: 'normal',
        },
        tooltips: {
            displayColors: false,
            bodyFontFamily: 'Segoe UI',
            bodyFontSize: 18,
            cornerRadius: 5,
            caretSize: 4,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        }
    }
});

var subs_canvas = new Chart(document.getElementById("subs_canvas").getContext("2d"), {
    type: "horizontalBar",
    data: {
        labels: {{ sub_types|safe }},
        datasets: [
            {
                data: {{ sub_count }},
                backgroundColor: '#3fd53f',
                borderColor: 'rgba(136,136,136,0.5)'
            }
        ]
    },
    options: {
        responsive: false,
        layout: { padding: 10 },
        scales: {
            xAxes: [{
                gridLines: { display: false },
                ticks: {
                    fontFamily: 'Segoe UI',
                    fontColor: '#161717',
                    fontSize: 20,
                    fontStyle: 'normal',
                    min: 0,
                    stepSize: 1,
                }
            }],

            yAxes: [{
                gridLines: { display: false },
                ticks: {
                    fontFamily: 'Segoe UI',
                    fontColor: '#161717',
                    fontSize: 20,
                    fontStyle: 'normal',
                }
            }],
        },
        legend: { display: false },
        title: {
            display: true,
            text: 'Количество подписок',
            fontFamily: 'Segoe UI',
            fontColor: '#161717',
            fontSize: 32,
            fontStyle: 'normal',
        },
        elements: {
            arc: {
            },
            line: {
            },
            rectangle: {
                borderWidth: 0.01,
            },
        },
        tooltips: {
            displayColors: false,
            titleFontFamily: 'Segoe UI',
            titleFontSize: 18,
            bodyFontFamily: 'Segoe UI',
            bodyFontSize: 18,
            cornerRadius: 5,
            caretSize: 4,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        }
    }
});

{% comment %} var community_canvas = new Chart(document.getElementById("community_canvas").getContext("2d"), {
    type: "line",
    data: {
        labels: ["Сентябрь", "Октябрь", "Ноябрь",],
        datasets: [
            {
                data: [2, 5, 9,],
                backgroundColor: '#3498db',
                borderColor: '#3498db',
                pointBackgroundColor: '#3498db',
                pointBorderColor: '#000000',
                label: "Новых тем на форуме"
            },

            {
                data: [1, 4, 6,],
                backgroundColor: '#2ecc70',
                borderColor: '#2ecc71',
                pointBackgroundColor: '#2ecc71',
                pointBorderColor: '#000000',
                label: "Новых работ"
            },

            {
                data: [3, 6, 5,],
                backgroundColor: '#e03d3d',
                borderColor: '#e03d3d',
                pointBackgroundColor: '#e03d3d',
                pointBorderColor: '#000000',
                label: "Новых туториалов"
            },
        ]
    },
    options: {
        responsive: false,
        layout: { padding: 10 },
        scales: {
            xAxes: [{
                gridLines: { borderDash: [], },
                ticks: {
                    fontFamily: 'Segoe UI',
                    fontColor: '#161717',
                    fontSize: 20,
                    fontStyle: 'normal',
                }
            }],
            yAxes: [{
                gridLines: { borderDash: [], },
                ticks: {
                    fontFamily: 'Segoe UI',
                    fontColor: '#161717',
                    fontSize: 20,
                    fontStyle: 'normal',
                }
            }],
        },
        legend: {
            labels: {
                usePointStyle: true,
                fontColor: '#242424',
                fontFamily: 'Segoe UI',
                fontSize: 20,
                generateLabels: function (chart) {
                    return chart.data.datasets.map(function (dataset, i) {
                        return {
                            text: dataset.label,
                            lineCap: dataset.borderCapStyle,
                            lineDash: [],
                            lineDashOffset: 0,
                            lineJoin: dataset.borderJoinStyle,
                            pointStyle: 'rect',
                            fillStyle: dataset.backgroundColor,
                            strokeStyle: dataset.backgroundColor,
                            lineWidth: 0,
                            lineDash: dataset.borderDash,
                        }
                    })
                },

            }
        },
        title: {
            display: true,
            text: 'Статистика сообщества',
            fontFamily: 'Segoe UI',
            fontColor: '#161717',
            fontSize: 32,
            fontStyle: 'normal',
        },
        elements: {
            arc: {
            },
            point: { radius: 6, hitRadius: 6, hoverRadius: 6, },
            line: {
                tension: 0.4, fill: false,
            },
            rectangle: {
            }
        },
        tooltips: {
            displayColors: false,
            titleFontFamily: 'Segoe UI',
            titleFontSize: 18,
            bodyFontFamily: 'Segoe UI',
            bodyFontSize: 18,
            cornerRadius: 5,
            caretSize: 4,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        }
    }
}); {% endcomment %}

var choices_canvas = new Chart(document.getElementById("choices_canvas").getContext("2d"), {
    type: "doughnut",
    data: {
        labels: {{ choices_text|safe }},
        datasets: [
            {
                data: {{ choices_votes }},
                backgroundColor:  colortimes({{ choices_votes }}),
                borderColor:  colortimes({{ choices_votes }}),
            }
        ]
    },
    options: {
        responsive: false,
        layout: { padding: 10 },
        legend: {
            labels: {
                fontColor: '#242424',
                fontFamily: 'Segoe UI',
                fontSize: 20,
                usePointStyle: true,
                generateLabels: function (chart) {
                    return chart.data.labels.map(function (dataset, i) {
                        return {
                            text: dataset,
                            lineCap: chart.data.datasets[0].borderCapStyle,
                            lineDash: [],
                            lineDashOffset: 0,
                            lineJoin: chart.data.datasets[0].borderJoinStyle,
                            pointStyle: 'circle',
                            fillStyle: chart.data.datasets[0].backgroundColor[i],
                            strokeStyle: chart.data.datasets[0].borderColor[i],
                            lineWidth: 0,
                            lineDash: chart.data.datasets[0].borderDash,
                        }
                    })
                },

            },
        },
        title: {
            display: true,
            text: 'Голоса за следующий туториал',
            fontFamily: 'Segoe UI',
            fontColor: '#161717',
            fontSize: 32,
            fontStyle: 'normal',
        },
        tooltips: {
            displayColors: false,
            bodyFontFamily: 'Segoe UI',
            bodyFontSize: 18,
            cornerRadius: 5,
            caretSize: 4,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        }
    }
});


{% comment %} var critics_canvas = new Chart(document.getElementById("critics_canvas").getContext("2d"), {
    type: "radar",
    data: {
        labels: ["Скорость работы", "Удобство", "Функционал",],
        datasets: [
            {
                data: [74, 86, 92,],
                backgroundColor: 'rgba(63,213,63,0.4)',
                borderColor: 'rgba(63,213,63,0.87)',
                pointBackgroundColor: '#3fd53f',
                pointBorderColor: '#000000',
                label: ""
            },
        ]
    },
    options: {
        scale: {
            ticks: {
                fontFamily: 'Segoe UI',
                fontColor: '#161717',
                fontSize: 12,
                fontStyle: 'normal',
                beginAtZero: true,
                max: 100,
                min: 0,
            },
            pointLabels: {
                fontFamily: 'Segoe UI',
                fontColor: '#161717',
                fontSize: 18,
                fontStyle: 'normal',
            }
        },
        responsive: false,
        layout: { padding: 10 },
        legend: {
            display: false
        },
        title: {
            display: true,
            text: 'Оценки критиков',
            fontFamily: 'Segoe UI',
            fontColor: '#161717',
            fontSize: 32,
            fontStyle: 'normal',
        },
        elements: {
            arc: {
            },
            point: { radius: 6, hitRadius: 6, hoverRadius: 6, },
            line: {
            },
            rectangle: {
            },
        },
        tooltips: {
            displayColors: false,
            titleFontFamily: 'Segoe UI',
            titleFontSize: 18,
            bodyFontFamily: 'Segoe UI',
            bodyFontSize: 18,
            cornerRadius: 5,
            caretSize: 4,
        },
        hover: {
            mode: 'nearest',
            animationDuration: 400,
        }
    }
}); {% endcomment %}
</script>
{% endblock %}